{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'dashboard-styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images.png' %}" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="split-columns">
      <div class="side-panel">
        <img class="img-logo" src="{% static 'images.png' %}" />
        <p class="headings"><a href="/dashboard">EaseStudyante Dashboard</a></p>
        <ul class="menu-list">
          <li class="nav-link"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="nav-link">
            <a href="{% url 'dash_attendance'%}">View All Attendances</a>
          </li>
          <li class="nav-link">
            <a href="{% url 'dash_detail' %}">View Students and Teachers</a>
          </li>
          <li class="nav-link">
            <a href="{% url 'admin:index'%}">Go To Admin Dashboard</a>
          </li>
        </ul>
      </div>

      <div class="main-div">
        <div class="flex-container">
          <!-- Display Attendance Data -->
          <div class="user-div">
            <a class="detail-link" href="{% url 'dash_detail' %}"
              ><p class="heading">Students: {{ students_users.count }}</p></a
            >
          </div>

          <div class="user-div">
            <a class="detail-link" href="{% url 'dash_detail' %}"
              ><p class="heading">Teachers: {{ teachers_users.count }}</p></a
            >
          </div>

          <div class="user-div">
            <p class="heading">Total Users in System: {{ user_count.count }}</p>
          </div>
        </div>

        <div class="chart-master-containers">
          <div class="chart-container">
            <canvas id="myChart"></canvas>
            <script>
              var ctx = document.getElementById("myChart");
              var data = {
                labels: [{% for gender in student_genders %} '{{ gender }}', {% endfor %}],
                datasets: [
                  {
                    label: "Gender",
                    data: [{% for number in gender_num %} '{{ number.count }}', {% endfor %} ],
                    backgroundColor: [
                      "rgba(54, 162, 235, 0.2)",
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 206, 86, 0.2)",
                      "rgba(75, 192, 192, 0.2)",
                      "rgba(153, 102, 255, 0.2)",
                      "rgba(255, 159, 64, 0.2)",
                    ],
                    borderColor: [
                      "rgba(54, 162, 235, 1)",
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 206, 86, 1)",
                      "rgba(75, 192, 192, 1)",
                      "rgba(153, 102, 255, 1)",
                      "rgba(255, 159, 64, 1)",
                    ],
                    borderWidth: 1,
                  },
                ],
              };
              var options = {
                responsive: true,
                plugins: {
                  legend: {
                    position: "top",
                  },
                  title: {
                    display: true,
                    text: "No. of Male and Female Students",
                  },
                },
              };
              var chart = new Chart(ctx, {
                type: "pie",
                data: data,
                options: options,
              });
            </script>
          </div>

          <div class="chart-container">
            <canvas id="myOtherChart"></canvas>
            <script>
              var ctx = document.getElementById("myOtherChart");
              var data = {
                labels: [{% for yr_lvl in student_year_levels %} '{{ yr_lvl }}', {% endfor %}],
                datasets: [
                  {
                    label: "Number of Students in Each Grade Level",
                    data: [{% for year_level, count in year_levels_counts.items %} '{{ count }}', {% endfor %}],
                    backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56"],
                    hoverBackgroundColor: ["#FF6384", "#36A2EB", "#FFCE56"],
                  },
                ],
              };
              var options = {
                plugins: {
                  legend: {
                    labels: {
                      boxWidth: 0,
                    }
                  },
                  title: {
                   display: true,
                   text: 'Students in Each Grade Level'
                  }
                },
                responsive: true,
                title: {
                  display: true,
                  position: "left",
                  text: "Subject Wise Marks",
                },
              };
              // Create the chart
              var barChart = new Chart(ctx, {
                type: "bar",
                data: data,
                options: options,
              });
            </script>
        <div class="margin-top">
          <canvas id="myLineChart"></canvas>
          <script>
            var ctx = document.getElementById('myLineChart');
            var months = JSON.parse('{{ months|safe }}');
            var counts = JSON.parse('{{ counts|safe }}');
            let lineChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: months,
              datasets: [{
                label: 'Accounts Created Each Month',
                data: counts,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
              }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'User Accounts Growth Per Month'
                    },
                    responsive: true
                }
            }
          })
          </script>
        </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
