{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'dashboard-styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images.png' %}" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="split-columns">
      <div class="side-panel">
        <img class="img-logo" src="{% static 'images.png' %}" />
        <p class="headings"><a href="/dashboard">EaseStudyante Dashboard</a></p>
        <ul class="menu-list">
          <li class="nav-link"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="nav-link">
            <a href="{% url 'dash_attendance'%}">View All Attendances</a>
          </li>
          <li class="nav-link">
            <a href="{% url 'dash_detail' %}">View Students and Teachers</a>
          </li>
          <li class="nav-link">
            <a href="{% url 'admin:index'%}">Go To Admin Dashboard</a>
          </li>
        </ul>
      </div>

      <div class="main-div">
        <div class="flex-container-data">
          <div class="list">
            <h2 class="list-heading">Student List</h2>
            <p class="list-count">Total Students: {{ all_students.count }}</p>
            <ul class="actual-list">
              {% for reg_student in all_students %}
              <li>
                {{reg_student.student.user.first_name}},
                {{reg_student.student.user.last_name}} - {{reg_student.section}}
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="list">
            <h2 class="list-heading">Teacher List</h2>
            <p class="list-count">Total Teachers: {{ teachers_users.count }}</p>
            <ul class="actual-list">
              {% for teacher_schedule in teachers_users %}
              <li>
                {{ teacher_schedule.teacher.user.first_name }}
                {{teacher_schedule.teacher.user.last_name}}
                {{teacher_schedule.section}} {{ teacher_schedule.subject }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
